#administrationHead {
    background: #888888 URL(../img/user_background.png) no-repeat 15% 5px;
}

.tableTreeName {
    width: 20.4%;
    padding: 4px;
    display: block;
    margin: 2px;
    float: left;
}

#tableTreeNameHeader {
    text-align: left;
    float: left;
}