* { 
    margin: 0px; 
    padding: 0px;
}

*:focus { 
    outline: 0px;
}

HTML {
    overflow-y: scroll;
}

BODY {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    background: #000000;
}


FORM {
    padding-top: 4px; 
}

FIELDSET {
    margin-top: 0px;
    border: 1px solid #111111;
    background: #171717;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    position: relative;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.80;
    filter: alpha(opacity=80);
}

LEGEND {
    position: absolute;
    xcolor: #737373;
    color: #FFFFFF;
    top: -.5em;
    left: .2em;
}

LABEL {
    width: 20%;
    float: left;
    background: #111111;
    border: 1px solid #222222;
    xcolor: #EFEFEF;
    color: #FFFFFF;
    margin: 1px;
    padding: 2px;
    padding-left: 10px;
    margin-left: 2px;
    text-align: right;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

INPUT, SELECT, TEXTAREA {
    width: 74.5%;
    font-family: Tahoma;
    font-size: 11px;
    xcolor: #EFEFEF;
    color: #FFFFFF;
    margin-left: 2px;
    margin-top: 1px;
    padding: 2px;
    border: 1px solid #111111;
    background: #050505;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

INPUT:hover, INPUT:focus, SELECT:hover, SELECT:focus, TEXTAREA:hover, TEXTAREA:focus {
    background: #111111;
    border: 1px solid #222222;
}

SELECT {
    width: 75.5%;
    padding: 2px;
    font-family: Tahoma;
    font-size: 11px;
}

OPTION {
    padding-left: 4px;
}

INPUT[type=submit] {
    width: 99%;
    background: #111111 URL(../img/submit_background.png) no-repeat right 5px;
    border: 1px solid #222222;
    color: #FFFFFF;
    font-family: "Tempus Sans ITC", "Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 48px;
    text-align: right;
    padding-right: 65px;
    margin-left: 2px;
    margin-bottom: 4px;
}

INPUT[type=submit]:hover, INPUT[type=submit]:focus {
    background: #222222 URL(../img/submit_hover_background.png) no-repeat right 10%;;
    color: #000000;
}

.RA_err_msg_tag {
    border-radius: 8px;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    background: #DD0011;
    border: 1px solid #DD0011;
    font-size: 24px;
    color: #FFFFFF;
    text-align: right;
    padding: 4px;
    margin: 2px;
    width: 97%;
    opacity: 0.35;
    filter: alpha(opacity=35);
}

H1 {
    font-size: 24px;
    line-height: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

HR {
    margin-top: 4px;
    margin-bottom: 4px;
}

UL {
    margin-left: 30px; 
    padding: 0px; 
    list-style: square;
}

A {
    text-decoration: none;
    color: #AFAFAF;
}

A:hover {
    text-decoration: none;
    color: #EFEFEF;
}

A IMG {
    border: none;
}

.div_TopHeader {
    min-height: 48px;
    background: #111111;
}

.div_TopHeaderAutoCentered {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.div_TopHeaderLogoContainerAndMenu {
    height: 140px;
    padding-top: 10px;
    background: #2D2D2D;
}

.div_MainBackgroundContainer {
    background: #232323;
    height: 100%;
    min-height: 500px;
}

.div_MainContainerAutoCentered {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 960px;
}

.div_TopHeaderAutoCentered {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.div_CLEAR {
    clear: both;
}

.div_LeftContent {
    float: left;
    width: 630px;
}

.div_LeftContent H1 {
    font-size: 32px;
    background: #171717;
    color: #FAFAFA;
    text-align: right;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.div_RightContent {
    float: right;
    width: 310px;
}

.div_ContainerFooter {
    height: 80px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
    text-align: right;
    color: #DFDFDF;
    font-variant: small-caps;
}

.div_SidebarContainer {
    width: 290px;
    background: #393939;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.div_LeftAlignedLogo {
    float: left;
    width: 270px;
    margin-left: 120px;
}

.div_RightAlignedMenu {
    width: 525px;
    float: right;
    xmargin-top: -11px;
    background: URL(../img/menu_background.png) repeat-x;
    padding-left: 8px;
    margin-right: -30px;
}

.div_RightAlignedMenu A {
    display: block;
    float: left;
    margin-left: 3px;
    border-top: 1px solid #000000;
}

.div_LeftContent P {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div_ArticlesListItemExcerpt {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.div_ArticlesItemArticleContent, .div_categoryListNoTextsDefined, .div_contactWidget P {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.div_ArticlesItemArticleContent P {
    padding-top: 0px;
    padding-bottom: 10px;
}

.div_ArticlesItemArticleMeta, .div_AudioItemArticleInfo, .div_AudioItemArticleDescription, .div_AudioItemArticleLyrics, 
.div_YahooInviteUsers {
    background: #171717;
    color: #FAFAFA;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    padding-right: 128px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.h1_ArticlesListArticleItemTitle:hover {
    background: #333333;
}

.h1_ArticlesListArticleItemTitle A {
    display: block;
}

.div_contactWidgetForm {
    margin-left: 10px;
}

.div_RightContent H1 {
    font-weight: normal;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.30;
    filter: alpha(opacity=30);
    font-size: 48px;
    margin-top: 10px;
    position: relative;
    z-index: 99999;
}

.div_FooterRightAlignedTrademark {
    float: right;
    width: 300px;
    background: transparent;
    padding: 6px;
    padding-top: 0px;
    color: #AFAFAF;
}

.div_AuthenticationFormLoggedIn {
    float: left;
    font-size: 32px;
    font-family: "Tempus Sans ITC", "Jokerman", "Tahoma", "Courier New", sans-serif;
    padding: 10px;
    padding-right: 0px;
    padding-top: 20px;
}

.div_AuthenticationFormNotLoggedIn {
    width: 480px;
    float: left;
    padding: 10px;
}

.div_AuthenticationFormNotLoggedIn LABEL {
    background: #222222;
    border: 1px solid #111111;
}

.div_AuthenticationFormNotLoggedIn INPUT {
    background: #333333;
    border: 1px solid #222222;
    color: #FFFFFF;
}

.div_AuthenticationFormNotLoggedIn INPUT[type=submit] {
    width: 478px;
    background: #222222 URL(../img/submit_background.png) no-repeat right 5px;;
    border: 1px solid #111111;
    font-size: 32px;
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #DFDFDF;
}

.div_AuthenticationFormNotLoggedIn INPUT[type=submit]:hover {
    width: 478px;
    background: #333333 URL(../img/submit_hover_background.png) no-repeat right 5px;;
    border: 1px solid #222222;
}

#aHref_Upload {
    display: block;
    float: right;
    min-height: 48px;
    padding: 4px;
    margin: 4px;
    padding-top: 4px;
    width: 200px;
    text-align: center;
    background: transparent URL(../img/upload.png) no-repeat 190px 10px;
    border: 1px solid transparent;
    font-size: 42px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
    padding-right: 52px;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

#aHref_Upload:hover {
    background: #444444 URL(../img/upload.png) no-repeat 190px 10px;
    border: 1px solid #333333;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

#aHref_Audio {
    display: block;
    width: 100px;
    min-height: 33px;
    padding-top: 2px;
    text-align: center;
    background: URL(../img/m2.png);
    font-size: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

#aHref_Foto {
    display: block;
    width: 100px;
    min-height: 33px;
    padding-top: 2px;
    text-align: center;
    background: URL(../img/m3.png);
    font-size: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

#aHref_Video {
    display: block;
    width: 100px;
    min-height: 33px;
    padding-top: 2px;
    text-align: center;
    background: URL(../img/m4.png);
    font-size: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

#aHref_News {
    display: block;
    width: 100px;
    min-height: 33px;
    padding-top: 2px;
    text-align: center;
    background: URL(../img/m5.png);
    font-size: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

#aHref_Contact {
    display: block;
    width: 100px;
    min-height: 33px;
    padding-top: 2px;
    text-align: center;
    background: URL(../img/m6.png);
    font-size: 24px;
    font-family: "Jokerman", "Tahoma", "Courier New", sans-serif;
    color: #FFFFFF;
}

.div_FooterLeftAligned {
    float: left;
    width: 600px;
    text-align: left;
}

.div_FooterSocialLinks {
    float: left;
    width: 600px;
    text-align: left;
    margin-top: 12px;
}

.div_FooterSocialLinks A {
    margin-left: 5px;
}

#div_MusicGenre {
    background: #393939 URL(../img/genre.png) no-repeat bottom right;
}

#div_NewsCategory {
    background: #393939 URL(../img/news.png) no-repeat bottom right;
}

.div_AudioItemArticlePlayer {
    background: #252525;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    width: 570px;
    margin-top: 10px;
    opacity: 0.60;
    filter: alpha(opacity=60);
}

.div_AudioItemArticleLyrics {
    text-align: center;
}

.h1_AudioDescription, .h1_AudioLyrics {
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 32px;
    font-variant: normal !important;
    text-align: left !important;
    background: #171717 URL(../img/arrow_down.png) no-repeat top left;
    display: block;
}

.div_AudioItemArticleContainer H1 {
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 32px;
}

.h1_AudioPressPlay {
    background: #171717 URL(../img/audio_player.png) no-repeat center right !important;
    text-align: left !important;
    font-size: 32px !important;
    min-height: 128px;
}

.div_AudioItemArticleInfo {
    background: #171717 URL(../img/information.png) no-repeat top right;
    min-height: 128px;
}

.div_AudioItemArticleLyrics, .div_AudioItemArticleDescription {
    font-variant: normal;
}

.div_AudioItemArticleLyrics {
    background: #171717 URL(../img/lyrics.png) no-repeat top right;
    min-height: 128px;
}

.div_AudioItemArticleDescription {
    background: #171717 URL(../img/description.png) no-repeat top right;
    min-height: 128px;
}

.RA_file_upload_controller {
    position: relative;
    float: right;
    width: 10px;
    margin-top: -15px;
    margin-right: 125px;
}

.o2k7Skin, .mceLayout {
    float: left;
    margin-left: 4px !important;
    margin-top: 4px !important;
    font-size: 11px !important;
    font-family: Tahoma !important;
}

.img_AudioItemArticleTitleArtwork {
    float: left;
    width: 128px;
    height: 128px;
    border: 2px solid #000000;
    margin: 6px;
    background: URL(../img/audio_no_artwork.png) no-repeat center center;
}

.div_AudioItemArticleTitleArtwork {
    float: left;
    width: 128px;
    height: 128px;
    margin: 6px;
    margin-left: 8px;
    background: URL(../img/audio_no_artwork.png) no-repeat center center;
}

.a_AudioItemArticleTitle {
    float: right;
    width: 460px;
}

.div_AudioListContainerItem H1 {
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 32px;
}

.div_AudioListContainerItem A H1 {
    display: block;
}

.div_AudioListContainerItem A H1:hover {
    background: #353535 URL(../img/play.png) no-repeat bottom right;
}

.div_LeftContentContainer H1 {
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 48px;
}

.div_LeftContentContainer {
    background: #171717;
    margin-bottom: 20px;
    padding: 15px;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}   

.div_AudioLast10Item, .div_AudioRandomNItem {
    float: left;
    width: 160px;
    padding: 6px;
    background: transparent;
    border: 2px solid transparent;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

.div_AudioLast10Item:hover, .div_AudioRandomNItem:hover {
    background: #222222;
    border: 2px solid #111111;
}

.div_AudioLast10ItemInfoContainer, .div_AudioRandomNItemInfoContainer {
    font-size: 11px;
    width: 128px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.div_AudioLast10ItemImageContainer, .div_AudioRandomNItemImageContainer {
    width: 128px;
    margin-left: auto;
    margin-right: auto;
}

.img_AudioItemArticleTitleArtworkLast10, .img_AudioItemArticleTitleArtworkRandomN {
    width: 128px;
    height: 120px;
    border: 2px solid #000000;
    background: URL(../img/audio_no_artwork.png) no-repeat center center;
}

.div_AudioItemArticleTitleArtworkLast10, .div_AudioItemArticleTitleArtworkRandomN {
    width: 128px;
    height: 128px;
    border: 0px solid #000000;
    margin-left: 8px;
    background: URL(../img/audio_no_artwork.png) no-repeat center center;
}

.div_AudioLast10AutoCentered, .div_AudioRandomNAutoCentered {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.divPagination {
    font-family: "Tempus Sans ITC","Jokerman", "Tahoma", "Courier New", sans-serif;
    font-size: 32px;
}

.paginationLink {
    float: left;
    padding: 6px;
    margin: 2px;
    background: #111111;
    border: 2px solid #111111;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

.paginationLink:hover {
    float: left;
    padding: 6px;
    margin: 2px;
    background: #333333;
    border: 2px solid #333333;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
}

.currentPage {
    background: #333333;
    border: 2px solid #333333;
}

.clearFloatLeft {
    clear: left;
}

#audioSearchOnFrontend {
    margin-top: 10px !important;
    float: right;
    width: 470px;
}

#audioSearchOnFrontend INPUT[type=submit] {
    font-size: 32px;
}

.a_AuthenticationAbsolutePositionedRibbon {
    position: absolute;
    top: 0px;
    right: 0px;
    background: URL('../img/ribbon.gif') center center;
    width: 150px;
    height: 150px;
}

.div_LeftContent FIELDSET {
    background: #171717;
    color: #FAFAFA;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    width: 600px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.div_AudioSingleComment {
    background: #171717 URL(../img/comments.png) no-repeat top left;
    color: #FAFAFA;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    width: 605px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.div_AudioSingleCommentAuthor {
    text-align: right;
    font-size: 16px;
}

.div_AudioSingleCommentDate {
    text-align: right;
    border-bottom: 2px solid #444444;
    padding-bottom: 2px;
    font-size: 16px;
    width: 550px;
    float: right;
}

.div_AudioSingleCommentMessage {
    font-variant: normal;
    padding: 6px;
    clear: both;
    min-height: 100px;
}

.div_AudioCommentsOk {
    background: #500000;
    opacity: 0.60;
    filter: alpha(opacity=60);
    color: #FAFAFA;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    width: 605px;
    font-weight: normal;
    text-align: right;
    margin-bottom: 5px;
    font-size: 16px;
}

.div_AuthenticationProfileBoxInfo {
   float: right;
   width: 190px;
   text-align: right;
}

.div_AuthenticationProfileBoxUsername {
    font-size: 24px;
    font-family: "Tempus Sans ITC", "Tahoma", sans-serif;
}

.div_AuthenticationProfileBoxSignature {
    margin-top: 5px;
}

.div_AuthenticationProfileBoxSignature P {
    margin-top: 2px;
    padding-top: 2px;
    border-top: 2px solid #AAAAAA;
}

#audio_file_title {
    width: 74%; 
}

.h1_AudioItemArticleTitle {
   min-height: 120px;
}

.div_YahooInviteUsers {
    background: #171717 URL(../img/yahoo_invite.png) no-repeat 10px 10px;
    color: #FAFAFA;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
    font-size: 48px;
    font-family: "Tempus Sans ITC", "Tahoma", sans-serif;
    text-align: right;
}

.div_YahooInviteUsers P {
    margin-left: 100px;
}

.div_YahooHaveInvited {
    background: #171717 URL(../img/yahoo_invite.png) no-repeat 10px 10px;
    color: #FAFAFA;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: right;
}

.div_YahooInviteUsers P {
    margin-div_YahooHaveInvited: 100px;
}

#div_YahooSidebarBox {
    background: #353535 URL(../img/yahoo_invite.png) no-repeat 0px 95px;
    color: #FAFAFA;
    border-radius: 8px;
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: right;
    font-size: 32px;
    margin-bottom: 30px;
    font-family: "Tempus Sans ITC", "Tahoma", sans-serif;
    width: 310px;
}

.div_RightContent H1 {
    font-family: "Jokerman", "Tahoma", sans-serif;
}

.div_ArticlesSingleComment {
    background: #171717 URL(../img/comments.png) no-repeat top left;
    color: #FAFAFA;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    width: 605px;
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.div_ArticlesSingleCommentAuthor {
    text-align: right;
    font-size: 16px;
}

.div_ArticlesSingleCommentDate {
    text-align: right;
    border-bottom: 2px solid #444444;
    padding-bottom: 2px;
    font-size: 16px;
    width: 550px;
    float: right;
}

.div_ArticlesSingleCommentMessage {
    font-variant: normal;
    padding: 6px;
    clear: both;
    min-height: 100px;
}

.div_ArticlesCommentsOk {
    background: #500000;
    opacity: 0.60;
    filter: alpha(opacity=60);
    color: #FAFAFA;
    -moz-border-radius: 8px; border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -ms-border-radius: 8px;
    padding: 12px;
    width: 605px;
    font-weight: normal;
    text-align: right;
    margin-bottom: 5px;
    font-size: 16px;
}

.h1_AudioDescription, .h1_AudioLyrics {
    background: #171717 URL(../img/arrow_down.png) no-repeat 10px -12px !important;
    min-height: 90px;
    text-align: right !important;
}

.h1_AudioDescription:hover, .h1_AudioLyrics:hover {
    background: #353535 URL(../img/arrow_down.png) no-repeat 10px -12px !important;
    min-height: 90px;
    text-align: right !important;
    cursor: pointer;
}

.p_AudioItemArticleLyrics, .p_AudioItemArticleDescription {
    margin-top: 5px;
    border: 1px solid #222222;
    padding: 10px;
    text-align: left;
    padding-right: 70px !important;
    background: #111111 URL(../img/user_info.png) no-repeat top right;
}

.div_MainBackgroundContainer {
    background: URL(../img/stripe_background.png);
}

.div_LeftContentContainer, .div_SidebarContainer, .div_AudioItemArticleContainer, .h1_AudioListArticleItemTitle {
    opacity: 0.60;
    filter: alpha(opacity=60);
}